<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lavoisier.AndroidAPIs_BenchmarkingApp">

    <application
        android:name=".ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity" />


        <service
            android:name=".SampleCarrierConfigService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_CARRIER_SERVICES">
            <intent-filter>
                <action android:name="android.service.carrier.ConfigService" />
            </intent-filter>
        </service>


       <!-- <activity
            android:name=".MyNativeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <meta-data
                android:name=".lib_name"
                android:value="native-lib" />
        </activity>-->
        <activity
           android:name=".MyNativeActivity"
           android:label="@string/title_activity_my_native"
           android:parentActivityName="android.app.NativeActivity"
           android:theme="@style/AppTheme.NoActionBar">
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="android.app.NativeActivity" />
       </activity>
      <activity
           android:name="android.app.NativeActivity"
           android:configChanges="orientation|keyboardHidden"
           android:label="@string/app_name">
           <meta-data
               android:name=".lib_name"
               android:value="native-lib" />
       </activity>

        <activity
            android:name=".OpenGlActivity"
            android:label="@string/title_activity_open_gl"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BeningAPIsBenchmarkingActivity"
            android:label="@string/title_activity_testing_bening_apis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaliciousAPIsBenchmarkingActivity"
            android:label="@string/title_activity_testing_malicious_apis"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>